<!-- <h1>
  Probando cosas
</h1>
<ul>
  <li><a routerLinkActive="active" routerLink="/welcome">welcome</a></li>
  <li><a routerLinkActive="active" routerLink="/login">login</a></li>
</ul> -->
<!-- <h1>
  Inicio de sesion
</h1> -->
<!-- <div align="center">
  <app-login></app-login>
</div> -->
<!-- <h1> Navbar </h1>
<app-navbar></app-navbar>
<h1> Tabla </h1>
<app-table [products]="products"></app-table>
<h1>Api fakestore</h1>
<mat-grid-list cols="3" rowHeight="1:1.5">
  <mat-grid-tile *ngFor="let product of products">
    <app-product [product]="product"></app-product>
  </mat-grid-tile>
</mat-grid-list> -->
<router-outlet></router-outlet>